# ==================================
# Configuración general de IDEs
# ==================================
.idea/
*.iml
*.iws
*.ipr
.vscode/

# ==================================
# Android / Java / Gradle
# ==================================
build/
.gradle/
local.properties
*.apk
*.aab
*.ap_
*.class
*.dex
bin/
gen/
out/
captures/

# ==================================
# Python
# ==================================
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.env

# ==================================
# Sistema Operativo
# ==================================
.DS_Store
Thumbs.db
ehthumbs.db
$RECYCLE.BIN/

# ==================================
# Archivos de respaldo (Backups)
# ==================================
*~
