<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <!-- 1. PERMISO DE INTERNET -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MotorGestion"
        android:usesCleartextTraffic="true" > <!-- 2. PERMITIR TRÁFICO AL LOCALHOST -->

        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Pantallas de Coches -->
        <activity android:name=".ListadoCochesActivity" />
        <activity android:name=".DetalleCocheActivity" />

        <!-- Pantalla de Mantenimientos -->
        <activity android:name=".MantenimientoActivity" />

        <!-- Pantallas de Motos -->
        <!-- <activity android:name=".ListadoMotosActivity" /> -->
        <!-- <activity android:name=".DetalleMotoActivity" /> -->
        <!-- Pantallas de Furgonetas -->
        <!-- <activity android:name=".ListadoFurgonetasActivity" /> -->
        <!-- <activity android:name=".DetalleFurgonetaActivity" /> -->


    </application>

</manifest>
